<button (click)="blueClass = !blueClass" [ngClass]="{blue:blueClass}" [ngStyle]="{'font-size.px':fontSize}">Click to
    Change!!</button>
<hr>
    <!-- structural directive - shorthand -->
    <p *ngIf="blueClass">This is a blue button.</p>
<!-- event binding -->
<input (keyup)="changeImage($event)" [value]="imageURL">

<!-- data flow from 1-component to another -->
<app-post *ngFor="let image of images" [postURL]="imageURL" (imgSelected)="logImg($event)">
    <p>Image rendered </p>
</app-post>

<p>Angular App running fine!!:-)</p>
<p> Hello {{ name | titlecase }}!</p>
<p>{{ name.toUpperCase() }}</p>
<p>{{ currentDate | date: 'd MM YYYY' }}</p>
<p>{{cost | currency: 'INR'}}</p>